.idea/
target/
target-ide/
*.class
*.iml
**/target
**/bin
dist
**/logs
products
repository
workspace
*~
.classpath
.project
.settings
MANIFEST.MF
xtend-gen
yang-gen-sal
yang-gen-config
.externalToolBuilders
maven-eclipse.xml
.metadata/
.checkstyle
maven-metadata-local.xml
*.pyc
/.pydevproject
*.log
.tox/
nbactions.xml
nb-configuration.xml
