[project]
	description = OpenFlow Plugin
[receive]
	requireSignedOffBy = true
[access "refs/*"]
	owner = group saml/odl-gerrit-openflowplugin-committers
	read = group GitHub Replication
[allowSuperproject "docs"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/nitrogen:refs/heads/stable/nitrogen
