[project]
	state = active
	description = OpenFlow Plugin
[receive]
	requireSignedOffBy = true
[access "refs/*"]
	owner = group ldap/gerrit-openflowplugin-commiters
	read = group Administrators
	read = group Anonymous Users
	read = group Non-interactive openflowplugin users
	read = group Registered Users
	read = group ldap/gerrit-openflowplugin-commiters
	forgeAuthor = group ldap/gerrit-openflowplugin-commiters
[access "refs/for/refs/*"]
	push = group Registered Users
	push = group ldap/gerrit-openflowplugin-commiters
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group ldap/gerrit-openflowplugin-commiters
	label-Code-Review = -1..+1 group Non-interactive openflowplugin users
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Non-interactive openflowplugin users
	label-Verified = -1..+1 group ldap/gerrit-openflowplugin-commiters
	submit = group ldap/gerrit-openflowplugin-commiters
[access "refs/tags/*"]
	pushTag = group ldap/gerrit-openflowplugin-commiters
